
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
edge_user_data/
jd_prices.db
pdd_auth_data/
auth-profile/
auth.json
browser_profiles/
price_screenshots/2025-12-28_JD_100193748406.png
~$tasks.xlsx
